@charset "UTF-8";
.fil56 {fill:#25294A}
.fil25 {fill:white}
.fil40 {fill:#196BAC;fill-rule:nonzero}
.fil24 {fill:#1B1F3A;fill-rule:nonzero}
.fil38 {fill:#1C75BC;fill-rule:nonzero}
.fil11 {fill:#25294A;fill-rule:nonzero}
.fil22 {fill:#353A65;fill-rule:nonzero}
.fil41 {fill:#3DA5CE;fill-rule:nonzero}
.fil39 {fill:#43B5E1;fill-rule:nonzero}
.fil10 {fill:#4A1860;fill-rule:nonzero}
.fil58 {fill:#4C99A3;fill-rule:nonzero}
.fil31 {fill:#588130;fill-rule:nonzero}
.fil18 {fill:#592C4A;fill-rule:nonzero}
.fil46 {fill:#5E832D;fill-rule:nonzero}
.fil42 {fill:#5FA3D5;fill-rule:nonzero}
.fil27 {fill:#618D35;fill-rule:nonzero}
.fil9 {fill:#662D91;fill-rule:nonzero}
.fil29 {fill:#699532;fill-rule:nonzero}
.fil55 {fill:#77A15D;fill-rule:nonzero}
.fil26 {fill:#7AAC32;fill-rule:nonzero}
.fil43 {fill:#7BCEEC;fill-rule:nonzero}
.fil44 {fill:#8BD7F7;fill-rule:nonzero}
.fil5 {fill:#8C263B;fill-rule:nonzero}
.fil16 {fill:#8DC63F;fill-rule:nonzero}
.fil57 {fill:#944717;fill-rule:nonzero}
.fil23 {fill:#98ABBE;fill-rule:nonzero}
.fil54 {fill:#9DD065;fill-rule:nonzero}
.fil32 {fill:#A04313;fill-rule:nonzero}
.fil45 {fill:#A8E0F9;fill-rule:nonzero}
.fil47 {fill:#AAC7C2;fill-rule:nonzero}
.fil59 {fill:#AFD7E3;fill-rule:nonzero}
.fil30 {fill:#B04A15;fill-rule:nonzero}
.fil34 {fill:#BA591B;fill-rule:nonzero}
.fil28 {fill:#BEBFC9;fill-rule:nonzero}
.fil12 {fill:#C0D2DC;fill-rule:nonzero}
.fil17 {fill:#C2342A;fill-rule:nonzero}
.fil33 {fill:#C65F1D;fill-rule:nonzero}
.fil35 {fill:#C7866A;fill-rule:nonzero}
.fil20 {fill:#C9344A;fill-rule:nonzero}
.fil6 {fill:#C9362D;fill-rule:nonzero}
.fil1 {fill:#CCE4F1;fill-rule:nonzero}
.fil13 {fill:#CE382F;fill-rule:nonzero}
.fil14 {fill:#D15D6E;fill-rule:nonzero}
.fil36 {fill:#D7946F;fill-rule:nonzero}
.fil2 {fill:#DBF1F0;fill-rule:nonzero}
.fil0 {fill:#DFF3FD;fill-rule:nonzero}
.fil21 {fill:#E77C4A;fill-rule:nonzero}
.fil19 {fill:#EC4D4A;fill-rule:nonzero}
.fil7 {fill:#EF4136;fill-rule:nonzero}
.fil50 {fill:#F06523;fill-rule:nonzero}
.fil48 {fill:#F08D17;fill-rule:nonzero}
.fil52 {fill:#F2804E;fill-rule:nonzero}
.fil15 {fill:#F58761;fill-rule:nonzero}
.fil37 {fill:#F6981B;fill-rule:nonzero}
.fil51 {fill:#F7AA48;fill-rule:nonzero}
.fil4 {fill:#F9A86A;fill-rule:nonzero}
.fil49 {fill:#FCC43E;fill-rule:nonzero}
.fil53 {fill:#FCCF64;fill-rule:nonzero}
.fil3 {fill:#FFCC72;fill-rule:nonzero}
.fil8 {fill:white;fill-rule:nonzero}
